<!DOCTYPE html><html lang="en"><head>
  <%- include('../partials/head',{title}) %>
</head><body>
  <%- include('../partials/navbar',{user}) %>
  <main class="container">
    <%- include('../partials/header') %>
    <h1>Student Dashboard</h1>
    <div class="dashboard-grid mt-2">
      <a href="/student/statistics" class="card button-link">1. View course statistics</a>
      <a href="/student/my-courses" class="card button-link">2. My courses</a>
    </div>

  </main>
</body></html>
