<!DOCTYPE html><html lang="en"><head><%- include('../partials/head',{title})%></head><body>
  <%- include('../partials/navbar',{user}) %>
  <main class="container">
    <%- include('../partials/header') %>
    <h2>Instructor name</h2>

    <table>
      <thead><tr><th>course name</th><th>exam period</th><th>student</th><th>action</th></tr></thead>
      <tbody>
        <tr><td>software II</td><td>spring 2025</td><td>john doe</td>
            <td><a class="button" href="/instructor/reply">Reply</a></td></tr>
        <tr><td>software II</td><td>spring 2025</td><td>jane doe</td>
            <td><a class="button" href="#">Reply</a></td></tr>
        <tr><td>software I</td><td>fall 2024</td><td>george smith</td>
            <td><a class="button" href="#">Reply</a></td></tr>
      </tbody>
    </table>
  </main>
</body></html>
