<!DOCTYPE html><html lang="en"><head>
  <%- include('partials/head',{title}) %>
</head><body>
  <%- include('partials/navbar' ) %>
  <main class="login-container">
    <fieldset><legend>Welcome to clearSKY</legend>
      <form action="/login" method="post">
        <div class="form-group">
          <label>user name</label><input name="username" required/>
        </div>
        <div class="form-group">
          <label>password</label><input name="password" type="password" required/>
        </div>
        <button class="button" type="submit">Login</button>
        <button class="button button--secondary" type="button">Login with Google</button>
        <% if(error){%>
          <p style="color:#c00;margin-top:1rem"><%=error%></p>
        <% } %>
      </form>
    </fieldset>
    <%- include('partials/messageBox') %>
  </main>
</body></html>
