<li><a class="<%= currentUrl.startsWith('/institution/register') ? 'active' : '' %>"
       href="/institution/register">Register</a></li>
<li><a class="<%= currentUrl.startsWith('/institution/purchase') ? 'active' : '' %>"
       href="/institution/purchase">Purchase</a></li>
<li><a class="<%= currentUrl.startsWith('/institution/user-management') ? 'active' : '' %>"
       href="/institution/user-management">Users</a></li>
<li><a class="<%= currentUrl.startsWith('/institution/statistics') ? 'active' : '' %>"
       href="/institution/statistics">Statistics</a></li>
