<li><a class="<%= currentUrl.startsWith('/student/my-courses') ? 'active' : '' %>"
       href="/student/my-courses">My courses</a></li>
<li><a class="<%= currentUrl.startsWith('/student/statistics') ? 'active' : '' %>"
       href="/student/statistics">Statistics</a></li>

