<!DOCTYPE html><html lang="en"><head>
  <%- include('../partials/head',{title}) %>
</head><body>
  <%- include('../partials/navbar',{user}) %>
  <main class="container">
    <%- include('../partials/header') %>
    <h1>Institution Dashboard</h1>
    <ul>
      <li><a class="button" href="/institution/register">1. Register institution</a></li>
      <li><a class="button" href="/institution/purchase">2. Purchase credits</a></li>
      <li><a class="button" href="/institution/user-management">3. User management</a></li>
      <li><a class="button" href="/institution/statistics">4. View statistics</a></li>
    </ul>
  </main>
</body></html>
